@model IEnumerable<Instagram_DB.Models.Story>
<h4>Stories</h4>
<table class="table">
    <tr>
        <th>Image</th>
        <th>Caption</th>
        <th>Poster</th>
        <th>Timestamp</th>
        <th>Actions</th>
    </tr>
