@model IEnumerable<Instagram_DB.Models.Story>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Caption</th>
            <th>Poster</th>
            <th>Timestamp</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var story in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@story.Caption</td>
                    <td>@story.PosterNavigation?.Username</td>
                    <td>@story.Timestamp</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

