html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

user-card {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 8px;
}

.profile-pic {
    border-radius: 50%;
    border: 1px solid #808080;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #808080;
    color: #0094ff;

    p {
          line-height: 40px
      }
}

.flex {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    /*justify-content: center;*/
}

.username-link {
    text-decoration: none;
    color: #000;

    &:hover {
                color: #258cfb;
            }
}