@model IEnumerable<Instagram_DB.Models.User>

<h2>User List</h2>

@foreach(var user in Model)
{
    <div class="user-card">
        <figure>
            <img class="profile-pic" src="@user.ProfilePic" alt="@user.Username profile picture"/>
        </figure>

        <div>
            <a asp-controller="User" asp-action="Profile" asp-route-UserName="@user.Username">@user.Username</a>
        </div>
    </div>
}