@model Instagram_DB.Models.User


<div class="flex-profile">
    <div class="profile-pic-large">
        <h4>@(Model?.Username?.Length > 0 ? char.ToUpperInvariant(Model.Username[0]) : 'U')</h4>
    </div>
    <h3>@("@" + (Model?.Username ?? ""))</h3>
     <h6>@Model?.Bio</h6>
    <div class="flex-profile">
        <p>First Name: @Model?.FirstName</p>
        <p>Last Name: @Model?.LastName</p>
        <p>Email: @Model?.Email</p>
        <p>Status: @Model?.Status</p>
    </div>
    <div>
        <a asp-controller="User" asp-action="Following" class="btn primary-button">Following</a>
        <a asp-controller="User" asp-action="Followers" class="btn secondary-button">Followers</a>
    </div>
</div>

<a asp-controller="User" asp-action="Index">Back to List</a>